// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container {
  #new_campaign {
      margin: 0 40px;
    }
  ul.list {
    list-style-type:none;

    li {
      margin: 10px 0;
      width: 90%;
      span {
        margin: 0 10px;
      }
      .start {
        color: red;
      }
      .end{
        color:blue;
      }
      p {
        font-style:italic
      }

    }
  }
}